.header {
  background-color: #39668b;
  padding-bottom: 10px;

  .navbar-brand {
    padding: 5px;
    margin-right: 50px;
    color: white,
  }


  .navbar-nav {
    height: 100%;

    .navbar-link {
      margin-right: 15px;
      border-radius: 15px;
      color: rgba(255, 255, 255, 0.5);
      transition: 0.3s;
      font-size: 17px;
    }

    .icons {
      font-size: 22px;
      margin-left: 10px;
    }

    .navbar-link:hover {
      color: white;

    }
  }
}
