<div class="chat-messages">
  <div class="users container">
    <div class="col-8 offset-1">
      <h4>{{this.addressee?.name}}</h4>
    </div>
  </div>
  <div class="chat-messages-show-container"  >
    <ul class="chat-messages-show-list" id="message-list">
      <div *ngFor="let x of messages" class="message-row" [ngClass]="x.senderid == userid ? 'sender': 'receiver'">
        <li  [ngClass]="x.senderid == userid ? 'sender': 'receiver'" class="chat-msg">{{x.msg}}
          <br><small>sended: {{x.senddate}}</small>
        </li>
     </div>
    </ul>
  </div>
  <div class="chat-messages-create-container"> 
      <input class="chat-messages-create-input" type="text" [(ngModel)]="message">
      <button  class="chat-messages-create-button btn btn-primary" (click)="SendMessage()"> Send </button>
  </div>
</div>