.contacts {
  overflow-y: scroll;

  ul{
    // border-left: 1px solid lightgray;
    padding: 1%;
  }

  .contact {
    text-align: -webkit-center;
    width: 16em;
    height: 4em;
    margin-bottom: 12px;
  }

  h1 {
    text-align: left;
    font-weight: bolder;
    position: sticky;
    z-index: 2;
    background-color: inherit;
    margin-bottom: 15px;
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}
