<!--<div class="toolbar" role="banner">
  <a routerLink="/"><img width="40" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="/></a>
  <span>Card-trading</span>
  <div class="navButts col-2">
    <a routerLink="/catalogue"><button class="btn btn-outline-light">Cartas</button></a>
    <a routerLink="/info"><button class="btn btn-outline-light">Info</button></a>
    <a routerLink="/userlist"><button class="btn btn-outline-light">Usuarios</button></a>
  </div>
  <div class="spacer"></div>

  <div *ngIf="!_authService.loggedIn()">
    <button type="button"  class="btn btn-light" data-toggle="modal" data-target="#loginModal">Iniciar sesión</button>
  </div>
  <div *ngIf="_authService.loggedIn()">
    <button type="button" class="btn btn-light" (click)="_authService.logoutUser()">Cerrar sesión</button>
  </div>
  
  
</div>-->


<app-header></app-header>
<div [ngClass]="isLoggedIn ? 'loggedInContent':'content'" role="main"> 
  <router-outlet></router-outlet>
</div>
<div class="modal fade" id="loginModal" tabindex="-1">
  <app-login></app-login>
</div>
<div class="modal fade" id="registerModal" tabindex="-1">
  <app-register></app-register>
</div>

