.cardsss{
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 40em;
    display: grid;
    background-color: lightgray;
    grid-template-rows: auto;
    overflow-y: scroll;
    app-card{
        margin: 1%;
    }
}
