.cardsss{
    justify-content: space-evenly;
    width: 99.9%;
    height: 40em;
    display: flex;
    flex-flow: wrap;
    background-color: lightgray;
    overflow-y: scroll;
    app-card{
        margin: 1%;
        padding: 1%;
    }
}
