.row{
    width: 100em;
    grid-column-gap: 1%;
}
.together{
    display: flex;
    justify-content: space-evenly;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: space-evenly;
    background-color: #F0F0F0;
    align-items: center;
}
label{
    font-weight: bold;
    align-self: center;
}
input[type="range"]{
    margin-left: 1%;
    width: 75%;
}
