
.users{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: lightgray;
    height: -webkit-fill-available;
    div{
        text-align: -webkit-center;
        height: 5em;
        margin: 0% 1.5%;
    }
}

