.userInfo{
    display: flex;
    padding: 1%;
    background-color: gray;
    img{
        border-radius: 100%;
    }
    div{
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: -webkit-fill-available;
    }
    button{
        align-self: flex-end;
    }
}
.userCards{
    height: -webkit-fill-available;
    width: 90%;
    background-color: red;
}