.main {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 200px;
  text-align: center;
  align-content: center;

  h1 {
    text-align: left;
  }

  .banner-text {
    font-size: 2em;
  }

  .jumbotron {
    background-color: white;
    width: 80vw;
    margin-top: 0;
  }

  .main-banner {
    height: 60vh;
  }

  .banner {
    margin-top: 200px;
  }
}

#obscure-banner {
  background-color: lightgrey;
}

.jumbotron {
  margin: 0px !important;
  text-align: center;
}
