.userCard{
    margin: 1%;
    border: 2px groove black;
    display: flex;
    a{
        position: relative;
        align-self: flex-end;
        right: 0.1%;
    }
    img{
        border-radius: 50%;
        aspect-ratio: 1;
        width: 15%;
    }
}
